.page.theme_dark {
	--bgd-color: #000028;
	--decor-color: #ff0070;
	--button-color: #ff0070;
	--hover-color: rgb(255 0 112 / 0.4);
	--focus-color: #db00ff;
	--shadow-color: #ff0070;
	--title-color: #000028;
	--bgd-title-color: #ff0070;
	--content-title-color: #ff0070;
	--text-color: #f1b2ce;
	--link-accent-color: #ff0070;
	--bgd-image: url(../images/cover-image-dark.png);
	--display: flex;
}
